/*
Theme Name:CBC.com
Theme URI:www.restu.com.bd
Author: OlineIT-Asmana Ria
Author URI:www.olineit.com
Version:0.0.1
Description:Fully device responsive theme.
Tags:Dynamic logo,menu,slider,content.
*/
.custom-logo {
	height: auto;
	width: 40%;
	vertical-align: middle;
	border-style: none;
padding-left: 80px;
 
  /* padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
   padding-right: 30px;*/
}

#menu-item-dropdown-24 {
	width: 182%;
	height: auto;
}